<div class="hero-unit">
  <h1>MetaInspector demo</h1>
  <h2>Just a little demo of the MetaInspector scraper gem</h2>
  <form class="form-search" method="GET" action="/scrape">
    <input type="url" name="url" class="input-medium search-query" required value="http://">
    <button type="submit" class="btn">Scrape</button>
  </form>
</div>
